* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin: auto;
}

canvas {
    position: fixed;
    outline: none;
    left: 0;
    top: 0;
}

img {
    pointer-events: none;
    max-height: 40px;
    max-width: 40px;
    width: 100%;
}

a {
    display: inline-block;
    font-size: 1.1em;
    cursor: pointer;
    color: #ea8462;
}

.ui {
    transition: opacity 2s ease-in-out;
    opacity: 0;
}

.ui.loaded{
    opacity: 1;
}

.ui .watermark-container {
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 1.1em;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 3%;
}

.ui .button-container {
    flex-direction: column;
    position: absolute;
    display: flex;
    z-index: 1;
    bottom: 5%;
    left: 5%;
    gap: 12px;
}

.ui #mute-btn {
    cursor: pointer;
}

.ui #mute-btn:not(.is-muted) > img.mute,
.ui #mute-btn.is-muted > img.unmute {
    display: none;
}

.dg.main:not(.debug) {
    display: none;
 }

 