* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    margin: auto;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
}

canvas {
    position: fixed;
    outline: none;
    left: 0;
    top: 0;
}

img {
    pointer-events: none;
    width: 100%;
}

#mute-btn {
    position: absolute;
    max-width: 50px;
    padding: 5px;
    border: none;
    z-index: 1;
    bottom: 8%;
    left: 10%;
}

#mute-btn:not(.is-muted) > img.mute,
#mute-btn.is-muted > img.unmute {
    display: none;
}
