* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    margin: auto;
}

canvas {
    position: fixed;
    outline: none;
    left: 0;
    top: 0;
}

img {
    pointer-events: none;
    max-height: 50px;
    max-width: 50px;
    width: 100%;
}

a {
    display: block;
}

.button-container {
    flex-direction: column;
    position: absolute;
    display: flex;
    z-index: 1;
    bottom: 8%;
    left: 10%;
    gap: 12px;
}

#mute-btn {
    cursor: pointer;
}

#mute-btn:not(.is-muted) > img.mute,
#mute-btn.is-muted > img.unmute {
    display: none;
}
